# --- Bot Configuration ---
BOT_TOKEN=your_public_bot_token_here
STORE_BOT_TOKEN=your_store_bot_token_here
API_ID=123456
API_HASH=your_api_hash_here

# --- TMDb Configuration ---
TMDB_API_KEY=abc0e45d572a0a9065b3498a9c8ebc24

# --- MongoDB Configuration ---
MONGO_URI=mongodb+srv://admin:pass@cluster.mongodb.net/movie_bot?retryWrites=true&w=majority
DB_NAME=movie_bot

# --- Admin Configuration ---
OWNER_ID=8395808382
ADMIN_IDS=8395808382,12345678

# --- Channel & Group Configuration ---
FSUB_CHANNEL=@PhiloBots
FSUB_LINK=https://t.me/+AxJ9AFAeGsM3ZDE1
STORAGE_CHANNEL=-1003661525300
ALLOWED_GROUP=-1001548130580
BANNER_URL=https://images.unsplash.com/photo-1594909122845-11baa439b7bf?q=80&w=2070&auto=format&fit=crop
